.header{font-size: 100px;}

h4{font-family: 'Secular One', sans-serif; font-weight: bold;}

h2 {font-family: 'Secular One', sans-serif; font-weight: bold;}

p{font-family: 'Gentium Book Plus', serif;}

li{font-family: 'Gentium Book Plus', serif;}
