.header{font-size: 100px;}

h4{font-family: 'Cedarville Cursive', cursive;}

h2 {
  font-family: 'Cedarville Cursive', cursive;
}

p{font-family: 'Arima', cursive;}

li{font-family: 'Arima', cursive;}
